<% content_for (:title) do %>
  <%= "#{@projet.title} - Messages" %>
<% end %>

<!-- START EDIT CONTENT -->
<div class="container">
  <%= render 'shared/index_messages' %>
  <%= render 'shared/message_form' %>
  <!-- END EDIT CONTENT -->
</div>
