
    <!-- START EDIT CONTENT -->

    <div class="row m-t-1">

        <!-- START Left Column -->
<div class="col-lg-2">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
            <!-- START Widget - Menu Pills Vertical -->
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="javascript: void(0)">Inbox <span class="badge pull-right">4</span> </a></li>
                <li role="presentation"><a href="javascript: void(0)">Draft <span class="badge pull-right">2</span> </a></li>
                <li role="presentation"><a href="javascript: void(0)">Sent <span class="badge pull-right">7</span> </a></li>
                <li role="presentation"><a href="javascript: void(0)">Trash <span class="badge pull-right">1</span> </a></li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6 m-b-3">
            <div class="hr-text hr-text-left m-b-0 m-t-1">
                <h6 class="text-white"><strong>Labels</strong></h6>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="javascript: void(0)" class="text-gray"><i class="fa fa-fw fa-circle-o text-primary m-r-1"></i> Family</a></li>
                <li role="presentation"><a href="javascript: void(0)" class="text-gray"><i class="fa fa-fw fa-circle-o text-info m-r-1"></i> Friends</a></li>
                <li role="presentation"><a href="javascript: void(0)" class="text-gray"><i class="fa fa-fw fa-circle-o text-warning m-r-1"></i> Work</a></li>
                <li role="presentation"><a href="javascript: void(0)" class="text-gray"><i class="fa fa-fw fa-circle-o text-soft-purple m-r-1"></i> Other</a></li>
                <li role="presentation"><a href="javascript: void(0)" class="text-gray"><i class="fa fa-fw fa-plus text-gray m-r-1"></i> Add New Label</a></li>
            </ul>
            <!-- END Widget - Menu Pills Vertical -->
        </div>
    </div>
</div>
<!-- END Left Column -->

        <div class="col-lg-10">

            <!-- START Panel Sessions -->
            <div class="panel panel-default   b-a-0 shadow-box">
                <div class="panel-heading">

                    <!-- START Header with Option -->
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-5 col-xs-12">
        <div class="input-group">
            <input class="form-control" placeholder="Search Inbox..." type="text">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
        </div>

        <div class="btn-toolbar pull-right hidden-lg hidden-md hidden-sm m-t-1">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa fa-refresh"></i></a>
                <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa-star"></i></a>
                <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa-tag"></i></a>
                <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-ban"></i></a>
                <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa-trash"></i></a>
                <a class="btn btn-block btn-default" href="new-email.html" role="button"><i class="fa fa-pencil"></i></a>
            </div>

        </div>

    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 col-sm-offset-2 col-lg-offset-3 col-md-offset-1 col-sm-4 col-sm-offset-2 hidden-xs">
        <!-- START Toolbar -->
        <div class="btn-toolbar pull-right">

            <div class="btn-group" role="group" aria-label="...">
                <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-refresh"></i></a>
                <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-star"></i></a>
                <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-tag"></i></a>
                <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-ban"></i></a>
                <a class="btn btn-default " href="javascript: void(0)" role="button"><i class="fa fa-trash"></i></a>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-success" href="new-email.html"><i class="fa fa-fw fa-pencil"></i></a>
            </div>
        </div>
        <!-- END Toolbar -->
    </div>
</div>
<!-- END Header with Option -->

                </div>

                <!-- START Table -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="small text-muted text-uppercase w-5">
                                </th>
                                <th class="small text-muted text-uppercase w-10">
                                </th>
                                <th class="small text-muted text-uppercase"><strong>From</strong>
                                </th>
                                <th class="small text-muted text-uppercase"><strong>Subject</strong>
                                </th>
                                <th class="small text-muted text-uppercase">
                                </th>
                                <th class="small text-muted text-uppercase">
                                </th>
                                <th class="small text-muted text-right text-uppercase"><strong>Date</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- START ROW Mail (New) -->
                            <tr>
                                <td class="v-a-m">
                                    <i class="fa fa-fw fa-circle text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="You Got New Message"></i>
                                </td>
                                <td class="v-a-m">
                                    <p class="text-nowrap m-b-0">
                                        <label class="m-t-0">
                                            <input value="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Select this Message" type="checkbox">
                                        </label>
                                        <a href="javascript: void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove from Favorites"><i class="fa fa-fw fa-star-o text-muted fa-lg m-l-1"></i></a>
                                    </p>
                                </td>
                                <td class="v-a-m ">
                                    <div class="media">
                                        <div class="media-left  media-middle">
                                            <div class="avatar avatar-image"> <img class="media-object img-circle" alt="Avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/magugzbrand2d/128.jpg"> <i class="avatar-status avatar-status-bottom  bg-success b-white"></i> </div>
                                        </div>
                                        <div class="media-body media-auto"><a href="email-details.html" class="text-gray-darker"><strong><span class="media-heading text-gray-darker">issue.title</span></strong></a>
                                            <br>
                                            <span class="media-heading"><span>issue.label</span></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="v-a-m">
                                    <a href="email-details.html" class="text-gray-darker"><strong><span class="media-heading">Universal holistic data-warehouse</span></strong></a>
                                    <br>
                                    <span class="media-heading"><span>Eveniet minima veritatis animi.</span></span>
                                </td>

                                <td class="v-a-m text-right">
                                  <span class="badge-outline badge badge-success">issue.label</span>
                                </td>
                                <td class="v-a-m text-right">
                                    <i class="fa fa-fw fa-lg fa-paperclip"></i>
                                </td>
                                <td class="v-a-m text-right">
                                    <span class="text-gray-darker">31-Sep-2013</span>
                                    <br><span>06:44</span> PM
                                </td>
                            </tr>
                            <!-- END ROW Mail (New) -->

                        </tbody>
                    </table>
                </div>
                <!-- END Table -->


                <div class="panel-footer">

                    <span class="pull-left m-t-1">Showing 1 to 10 of 57 entries</span>

                    <!-- START Pagination -->
                    <div class="text-right">
                        <nav>
                            <ul class="pagination m-t-0 m-b-0">
                                <li>
                                    <a href="javascript: void(0)" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="active"><a href="javascript: void(0)">1</a></li>
                                <li><a href="javascript: void(0)">2</a></li>
                                <li><a href="javascript: void(0)">3</a></li>
                                <li><a href="javascript: void(0)">4</a></li>
                                <li><a href="javascript: void(0)">5</a></li>
                                <li>
                                    <a href="javascript: void(0)" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- START Pagination -->

                </div>

            </div>
            <!-- END Panel Sessions -->


            <!-- @include _modals -->



        </div>


    </div>


    <!-- END EDIT CONTENT -->





