//== Colors
//

.form-input {
  background-color: white;
}

//** Horizontal line color.
$hr-border:                                 #D8DDE4;
//## Gray and brand colors for use across Bootstrap.
$wd-blue:                                   #0B173B;
$gray-base:                                 #383838;
$gray-darker:                               #3E4659;
$gray-dark:                                 #586274;
$gray:                                      #7E8697;
$gray-light:                                #B3B9C4;
$gray-lighter:                              #D9DCE2;

$gray-rangoon:                              #1A1A1A;
$brand-cadet-blue:                          #B3B9C5;

$brand-white:                                 white;
$brand-zircon:                              #DADFE3; // Avatars

$brand-primary:                             #579EF7;
$brand-success:                             #84b547;
$brand-info:                                #40C697;
$brand-warning:                             #FA5E49;
$brand-danger:                              #CB3D4A;

$brand-soft-purple:                         #B16EEC;
$brand-lighting-yellow:                     #FEC724;
$brand-brilliant-rose:                      #FE55A9;

$brand-united-nations-blue:                 #5797F1;
$brand-havelock-blue:                       #557BC1;
$brand-mindaro:                             #D6DE62;
$brand-sunglow:                             #FEC33B;
$brand-jasper:                              #DC4346;
$brand-dodger-blue:                         #5e6cff;
$brand-dull-red:                            #BD3B48;
$brand-cranberry:                           #DC4E7A;

$brand-facebook:                            #3A5C96;
$brand-twitter:                             #5FABDC;
$brand-foursquare:                          #F84978;
$brand-lastfm:                              #E2132F;
$brand-linkedin:                            #027AB4;
$brand-medium:                              #18AA6E;
$brand-windows:                             #10BFF2;
$brand-amazon:                              orange;





$brand-cerulean:                            #00A3E3;
$brand-curious-blue:                        #2986c7;
$brand-endaveour:                           #0055a3;
$brand-minsk:                               #362d88;
$brand-eminence:                            #742787;
$brand-violet-eggplant:                     #aa1985;
$brand-mint-green:                          #72ff96;
$brand-aquamarine:                          #62ffe0;
$brand-malibu:                              #6abfff;
$brand-dodger-blue:                         #5e6cff;
$brand-heliotrope:                          #a26bff;
$brand-perfume:                             #f57ffe;

$brand-swamp:                               #222D33;
$brand-caper:                               #AECA89;
$brand-chelsea-cucumber:                    #88B152;
$brand-green-darker:                        #2b2f26;
