<div class="container">
  <% @projets.each do |projet| %>
    <%= link_to projet_path(projet.id) do %>
      <h2><%= projet.title %></h2>
      <p><%= projet.content %></p>
    <% end %>
  <% end %>
</div>
