<% content_for (:title) do %>
  <%= "Projets" %>
<% end %>

<div class="container">
<br>
<br>
  <div class="text-center">
  <h1>Vos Projets</h1>
  </div>

  <div class="row">
    <% @projets.each do |projet| %>
      <%= link_to projet_dones_path(projet) do %>
        <%= render "shared/card", projet: projet %>
      <% end %>
    <% end %>

    <% if current_user.role == "developpeur" %>
      <div class="col-xs-6 col-md-4" style="margin-top: 50px" >
        <div class="card-projet">
          <div class="panel panel-default b-a-0 shadow-box" style="height: 13.5em; background-color:#D9DCE2">
            <div class="panel-body text-center">
              <h2 style="font-size: 60px"><%= link_to "+", new_projet_path %></h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
