<%= render "shared/header" %>

<div class="tabbable-line">
  <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="javascript: void(0)">Timeline</a></li>
      <li role="presentation"><a href="javascript: void(0)">Messages</a></li>
      <li role="presentation"><a href="javascript: void(0)">Stats(soon)</a></li>
  </ul>
  <div class="tab-content"></div>

  </div>


