<<<<<<< HEAD
.wd-lp-card {
  background-color: $gray;
  padding: 30px;
  margin: 20px;
  border-radius: 2px;
}
=======
// Specific CSS for your home-page
.toto {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.content {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

>>>>>>> da2cd5d37b5d697f78aea54e9811fb941c80445a
