.wd-avatar-lg {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.wd-section h1 {
  font-size: 30px;
  line-height: 30px;
}

.wd-section h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.wd-section p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #0B173B;
}

.toto {
  text-decoration: none !important;
  h2 {
    color: #0B173B;
  }
}

