<% content_for :title do %>
  <%= "Nouveau client" %>
<% end %>

<div class="container">
  <br>
  <br>
  <br>
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default b-a-0 shadow-box">
      <div class="panel-heading">
          <h4 class="panel-title">Complete your Profile</h4>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
