<div class="body-homepage">
  <div class="container-homepage">
    <div class="row ligne">
      <h1 class="text-center">Nos avantages</h1>

      <div class="col-xs-12 col-md-6 col-lg-4 ">
        <div class="card-homepage">
          <h2>Fluidité</h2>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 ">
        <div class="card-homepage">
          <h2>Transparence</h2>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 ">
        <div class="card-homepage">
          <h2>Rapidité</h2>
        </div>
      </div>

    </div>
  </div>
</div>

