<div class="body-homepage">
  <div class="container-homepage">
    <div class="row text-center">
      <h2>Nos Avantages</h2>

      <div class="col-xs-6 col-md-4 ">
        <div class="card-homepage">
          <h1> Fluide</h1>
        </div>
      </div>

      <div class="col-xs-6 col-md-4 ">
        <div class="card-homepage">
          <h1>Transparence</h1>
        </div>
      </div>

      <div class="col-xs-6 col-md-4 ">
        <div class="card-homepage">
          <h1>Rapidité</h1>
        </div>
      </div>

    </div>
  </div>
</div>
