<div class="col-xs-6 col-md-4" style="margin-top: 50px">
      <div class="card-projet">
        <div class="panel panel-default b-a-0 shadow-box">
          <div class="panel-body">
            <h2><%= projet.title %></h2>
            Last Edited by: <a href="profile-details.html" class="text-gray-darker"><span>XXXX</span></a>
            <br>
            <span>28, May, Sunday, 2014</span>
          </div>

          <ul class="list-group no-bg">
            <li class="list-group-item  no-bg">
              <div class="progress b-r-a-100 m-t-0 m-b-1 h-3 shadow-box-none">
                <div class="progress-bar shadow-box-none" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
                <span class="m-t-0">
                  Tasks Completed: <span class="text-gray-darker">7/23</span>
                </span>
            </li>
            <li class="list-group-item  no-bg">
              Start: <span>31, December, Sunday, 2014</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
