<div class="col-xs-6 col-md-4" style="margin-top: 50px">
  <div class="card-projet">
    <div class="panel panel-default b-a-0 shadow-box">
      <div class="panel-body">
        <h2><%= projet.title %></h2>
        Dernière modification par: <a href="profile-details.html" class="text-gray-darker"><span><%= projet.develloppeur_profile.github_username %></span></a>
        <br>
        <span><%= Date.today.strftime("%A, %b %d") %></span>
      </div>

      <ul class="list-group no-bg">
        <li class="list-group-item  no-bg">
          <div class="progress b-r-a-100 m-t-0 m-b-1 h-3 shadow-box-none">
            <div class="progress-bar shadow-box-none" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
              <span class="sr-only">60%</span>
            </div>
          </div>
            <span class="m-t-0">
              Tâches terminées: <span class="text-gray-darker">7/23</span>
            </span>
        </li>
        <li class="list-group-item  no-bg">
          Début du projet: <span><%= projet.created_at.strftime("%A, %b %d") %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
