<div class="body-homepage">
  <div class="container-homepage">
    <div class="row">
      <h1 class="text-center">Comment ça marche ?</h1>

      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-homepage">
          <div class="card">
          <h1>1</h1>
          <h3> Recevez un lien direct vers votre projet par votre freelance</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 ">
        <div class="card-homepage">
          <div class="card">
          <h1>2</h1>
          <h3> Accedez à votre espace personnel et au dashboard de votre projet</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 ">
        <div class="card-homepage">
          <div class="card">
          <h1>3</h1>
          <h3> Communiquez facilement avec votre developpeur via la plateforme</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
