<div class="body-ccm">
  <div class="container-ccm">
    <div class="row text-center">
      <h1>Comment ça marche?</h1>

      <div class="col-xs-6 col-md-4 ">
        <div class="card-ccm">
          <h2>Click</h2>
        </div>
      </div>

      <div class="col-xs-6 col-md-4 ">
        <div class="card-ccm">
          <h2>Search</h2>
        </div>
      </div>

      <div class="col-xs-6 col-md-4 ">
        <div class="card-ccm">
          <h2>Work</h2>
        </div>
      </div>

    </div>
  </div>
</div>
