<div class="webdone-footer">
  <p><strong>WebDone</strong>, 2 Avenue des Saules Lille</p>
  <div class="webdone-footer-links">
    <a href="https://github.com/francomuoio/webdone"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="webdone-footer-copyright">
    <p>© 20017 Made by Le Wagon, Lille</p>
  </div>
</div>
