<div class="morice" >
    <div class="infodudev">
      <h3>
        <strong>Votre dev:</strong> <%= current_user.develloppeur_profile.github_username%>
      </h3>
      <p>
        <strong>Mail:</strong> <%= current_user.email %>
      </p>
    </div>
</div>


