<<<<<<< HEAD
<div class="header"  >
    <h2><strong>Username:</strong> <%= current_user.develloppeur_profile.github_username%></h2>
    <p><strong>Mail: <%= current_user.email %></strong></p>
=======

<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
          <div class="avatar">

          </div>
        </div>

        <div class="info">
          <div class="title">
            <h2><%= @projet.develloppeur_profile.github_username %></h2>
          </div>
          <div class="desc">Developpeur</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="mailto:<%= @projet.develloppeur_profile.user.email %>">
            <i class="fa fa-envelope-o fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
>>>>>>> 25a5f1a236e51cad579f6a180e1051bacce2933d
</div>


