<nav class="navigation">
  <div class="navbar-default navbar navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
      <a class="current navbar-brand" href="/">
        <img alt="Webdone" class="h-20" src="assets/images/spin-logo-inverted-@2X.png">
      </a>
      <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
        <i class="fa fa-fw fa-user text-white"></i>
      </button>
      <button class="action-sidebar-open navbar-toggle collapsed" type="button">
        <i class="fa fa-fw fa-bars text-white"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Out<i class="m-l-1 fa-lg fa fa-fw fa-sign-out m-r-1"></i></a></li>
      </ul>
    </div>

  </div>
</div>
</nav>
