<nav class="navigation">
  <!-- START Navbar -->
  <div class="navbar-default navbar navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <%= link_to root_path, class: "current navbar-brand" do %>
          <%=image_tag 'logo.png', :size => "60x60"%>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="navbar">

        <!-- START Right Side Navbar -->
        <ul class="nav navbar-nav navbar-right">
          <%= render 'shared/navbar/projects_dropdown' %>
          <li class="dropdown">
            <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" href="javascript: void(0)" role="button">
              <span class="m-r-1">Ferne Flatley</span>
              <div class="avatar avatar-image avatar-sm avatar-inline loaded">
                <img alt="User" src="https://s3.amazonaws.com/uifaces/faces/twitter/sementiy/128.jpg">
              </div>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                <small class="text-uppercase">
                  <strong>Account</strong>
                </small>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="../apps/profile-details.html">
                  <i class="fa fa-user fa-fw text-gray-dark m-r-1"></i>
                  Your Profile
                </a>
              </li>
              <li>
                <a href="../apps/profile-edit.html">
                  <i class="fa fa-gear fa-fw text-gray-dark m-r-1"></i>
                  Settings
                </a>
              </li>
              <li>
                <a href="../apps/faq.html">
                  <i class="fa fa-file fa-fw text-gray-dark m-r-1"></i>
                  Faq
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="../pages/login.html">
                  <i class="fa fa-sign-out fa-fw text-gray-dark m-r-1"></i>
                  Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- END Right Side Navbar -->
      </div>

    </div>
  </div>
  <!-- END Navbar -->
</nav>
