<div class="col-lg-4">
  <div class="panel panel-default  b-a-0 shadow-box">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-4 col-xs-4">Actualité</div>
        <div class="col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 text-right">
          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></button>
        </div>
      </div>
    </div>

    <!-- START Scroll Inside Panel -->
    <div class="scroll-640 custom-scrollbar">
      <div class="panel-body">

        <!-- START Timeline - Active Entry (Day) -->
        <div class="timeline">

          <!-- Timeline - Badge Date -->
          <div class="timeline-date">
            <span class="badge">Today</span>
          </div>

          <!-- Timeline - Item -->
          <div class="timeline-item p-r-1">
            <!-- Timeline - Mini Icon -->
            <div class="timeline-icon">
              <i class="fa fa-fw fa-times-circle text-danger"></i>
            </div>
            <!-- Timeline - Icon  -->
            <div class="timeline-item-head clearfix m-b-0">
              <!-- Timeline - Header & Subtitle -->
              <!-- START Avatar, Message & Time -->
              <div class="row">
                <div class="col-lg-12 m-l-1">
                  <span class="badge badge-danger badge-outline">Alert</span>
                  <br>
                  <p class="text-gray-darker m-t-1"><span>If we input the interface, we can get to the EXE program through the virtual SDD system!</span></p>
                  <p class="text-nowrap small"><span>20-Jan-2013, 08:25</span>
                  </p>
                </div>
              </div>
              <!-- END Avatar, Message & Time -->
            </div>
          </div>

        </div>
        <!-- END Timeline - Active Entry (Day) -->

        <!-- START Timeline - Active Entry -->
        <div class="timeline">
            <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                    <i class="fa fa-fw fa-exclamation-circle text-warning"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                    <!-- Timeline - Header & Subtitle -->

                    <!-- START Avatar, Message & Time -->
                    <div class="row">

                        <div class="col-lg-12 m-l-1">

                            <span class="badge badge-warning badge-outline">Warning</span>
                            <br>
                            <p class="text-gray-darker  m-t-1"><span>If we program the card, we can get to the SMS array through the open-source XSS interface!</span></p>
                            <p class="text-nowrap small"><span>05-Mar-2015, 05:06</span>
                            </p>
                        </div>
                    </div>
                    <!-- END Avatar, Message & Time -->

                </div>
            </div>
        </div>
        <!-- END Timeline - Active Entry -->

        <!-- START Timeline - Active Entry -->
        <div class="timeline">
            <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                    <i class="fa fa-fw fa-info-circle text-info"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                    <!-- Timeline - Header & Subtitle -->

                    <!-- START Avatar, Message & Time -->
                    <div class="row">

                        <div class="col-lg-12 m-l-1">

                            <span class="badge badge-info badge-outline">Info</span>
                            <br>
                            <p class="text-gray-darker  m-t-1">15 Files Uploaded</p>
                            <p class="text-nowrap small"><span>10-Oct-2011, 11:39</span>
                            </p>
                            <i class="m-l-1 fa fa-file-text-o fa-fw"></i> read_me.txt
                            <br>
                            <i class="m-l-1 fa fa-file-zip-o fa-fw"></i> all-files.zip
                            <br>
                            <i class="m-l-1 fa fa-file-word-o fa-fw"></i> alice-feedback.doc
                            <br>

                            <span class="badge m-t-1 m-b-1">+12</span>

                        </div>
                    </div>
                    <!-- END Avatar, Message & Time -->

                </div>
            </div>
        </div>
        <!-- END Timeline - Active Entry -->

        <!-- START Timeline - Active Entry -->
        <div class="timeline">
            <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                    <i class="fa fa-fw fa-plus-circle  text-primary"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                    <!-- Timeline - Header & Subtitle -->

                    <!-- START Avatar, Message & Time -->
                    <div class="row">

                        <div class="col-lg-12 m-l-1">

                            <span class="badge badge-primary badge-outline">Message</span>
                            <br>
                            <p class="text-gray-darker  m-t-1">6 users have been accepted by the Admin</p>
                            <p class="text-nowrap small"><span>30-Mar-2016, 10:49</span>
                            </p>
                            <div class="m-b-1">
                                <div class="avatar avatar-image avatar-sm visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block loaded">
                                    <img class="img-circle avatar avatar-image avatar-sm loaded" src="https://s3.amazonaws.com/uifaces/faces/twitter/newbrushes/128.jpg" alt="Avatar">
                                </div>
                                <div class="avatar avatar-image avatar-sm visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block loaded">
                                    <img class="img-circle avatar avatar-image avatar-sm loaded" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="Avatar">
                                </div>
                                  <div class="avatar avatar-image avatar-sm visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block loaded">
                                    <img class="img-circle avatar avatar-image avatar-sm loaded" src="https://s3.amazonaws.com/uifaces/faces/twitter/cicerobr/128.jpg" alt="Avatar">
                                </div>
                                  <div class="avatar avatar-image avatar-sm visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block loaded">
                                    <img class="img-circle avatar avatar-image avatar-sm loaded" src="https://s3.amazonaws.com/uifaces/faces/twitter/eugeneeweb/128.jpg" alt="Avatar">
                                </div>
                                  <div class="avatar avatar-image avatar-sm visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block loaded">
                                    <img class="img-circle avatar avatar-image avatar-sm loaded" src="https://s3.amazonaws.com/uifaces/faces/twitter/lososina/128.jpg" alt="Avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Avatar, Message & Time -->

                </div>
            </div>
        </div>
        <!-- END Timeline - Active Entry -->

        <!-- START Timeline - Active Entry (Day) -->
        <div class="timeline">
            <!-- Timeline - Badge Date -->
            <div class="timeline-date">
                <span class="badge">Yesterday</span>
            </div>
            <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                    <i class="fa fa-fw fa-check-circle text-success"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                    <!-- Timeline - Header & Subtitle -->

                    <!-- START Avatar, Message & Time -->
                    <div class="row">

                        <div class="col-lg-12 m-l-1">

                            <span class="badge badge-success badge-outline">Success</span>
                            <br>
                            <p class="text-gray-darker  m-t-1"><span>I'll navigate the online XSS feed, that should sensor the ADP protocol!</span></p>
                            <p class="text-nowrap small"><span>21-Sep-2013, 11:05</span>
                            </p>

                            <p><span>Et reiciendis consequatur et ut ut repellendus.</span></p>
                        </div>
                    </div>
                    <!-- END Avatar, Message & Time -->

                </div>
            </div>
        </div>
        <!-- END Timeline - Active Entry (Day) -->

        <!-- START Timeline - Active Entry -->
        <div class="timeline">

            <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                    <i class="fa fa-fw fa-circle text-gray"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                    <!-- Timeline - Header & Subtitle -->

                    <!-- START Avatar, Message & Time -->
                    <div class="row">

                        <div class="col-lg-12 m-l-1">

                            <span class="badge badge-gray badge-outline">Obsolete</span>
                            <br>
                            <del><p class="m-t-1"><span>The IB alarm is down, override the multi-byte driver so we can back up the COM circuit!</span></p></del>
                            <p class="text-nowrap small"><span>06-Mar-2015, 10:44</span>
                            </p>
                        </div>
                    </div>
                    <!-- END Avatar, Message & Time -->

                </div>
            </div>
        </div>
        <!-- END Timeline - Active Entry  -->

      </div>
    </div>
  </div>
</div>
