<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if  current_user.nil? %>
    <%= link_to "Je suis un dev", 'auth/github', class: "btn btn-github btn-warning" %>
    <%= link_to "Je suis un client", new_user_registration_path, class: "btn btn-success" %>
<% end %>


