.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 200px;
  background-color: $gray;
}

.banner-content{

}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(150, 150, 150);
  opacity: 0.8;
  margin-bottom: 30px;
  color: #34495E,
}

.btn-primary {
background-color: #34495E;
border-radius: 3px;
border: #34495E;
}

.btn-primary:hover {
background-color: #5D6D7E;
}

