.container-homepage {
  color: white;
  text-align: center;
  padding: 20px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-homepage {
  height: 250px;

  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
 }





.body-homepage {
  background-color: white;
}
