.webdone-footer {
  background: $wd-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  min-width: 100%;
  padding: 0px 50px;
  color: $gray-darker;
  position: absolute;
  bottom:0;
}
.webdone-footer-links {
  display: flex;
  align-items: center;
}
.webdone-footer-links a {
  color: $gray-light;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.webdone-footer-links a:hover {
  opacity: 1;
}
