<li class="dropdown">

        <!-- START Icon Notification with Badge (10)-->
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0)" role="button">
            <i class="fa fa-lg fa-fw fa-bell hidden-xs"></i>
                <span class="hidden-sm hidden-md hidden-lg">
                    Notifications <span class="badge badge-primary m-l-1">10</span>
                </span>
                <span class="label label-primary label-pill label-with-icon hidden-xs">10</span>
                <span class="fa fa-fw fa-angle-down hidden-lg hidden-md hidden-sm"></span>
        </a>
        <!-- END Icon Notification with Badge (10)-->

<!-- START Notification Dropdown Menu -->
<ul class="dropdown-menu dropdown-menu-right p-t-0 b-t-0 p-b-0 b-b-0 b-a-0">
    <li>
        <div class="yamm-content p-t-0 p-r-0 p-l-0 p-b-0">
            <ul class="list-group m-b-0 b-b-0">
                <li class="list-group-item b-r-0 b-l-0 b-r-0 b-t-r-0  b-t-l-0 b-b-2 w-350">
                    <small class="text-uppercase">
                        <strong>Notifications</strong>
                    </small>
                    <a role="button" href="../apps/settings-edit.html" class="btn m-t-0 btn-xs btn-default pull-right">
                        <i class="fa fa-fw fa-gear"></i>
                    </a>
                </li>

                <!-- START Scroll Inside Panel -->
                <li class="list-group-item b-a-0 p-x-0 p-y-0 b-t-0">
                    <div class="scroll-300 custom-scrollbar">
                        <a href="../pages/timeline.html" class="list-group-item b-r-0 b-t-0 b-l-0">
                            <div class="media">
                                <div class="media-left">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
                                        <i class="fa fa-close fa-stack-1x fa-fw text-danger"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h5 class="m-t-0">
                                        <span>Try to quantify the SQL protocol, maybe it will hack the wireless bandwidth!</span>
                                    </h5>
                                    <p class="text-nowrap small m-b-0">
                                        <span>08-Oct-2014, 10:40</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="../pages/timeline.html" class="list-group-item b-r-0 b-l-0">
                            <div class="media">
                                <div class="media-left">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle-thin fa-stack-2x text-primary"></i>
                                        <i class="fa fa-info fa-stack-1x text-primary"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h5 class="m-t-0">
                                        <span>programming the microchip won't do anything, we need to hack the wireless CSS transmitter!</span>
                                    </h5>
                                    <p class="text-nowrap small m-b-0">
                                        <span>12-Oct-2014, 12:18</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="../pages/timeline.html" class="list-group-item b-r-0 b-l-0">
                            <div class="media">
                                <div class="media-left">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
                                        <i class="fa fa-check fa-stack-1x text-success"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h5 class="m-t-0">
                                        <span>If we generate the card, we can get to the EXE array through the neural ADP protocol!</span>
                                    </h5>
                                    <p class="text-nowrap small m-b-0">
                                        <span>18-Feb-2011, 09:30</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="../pages/timeline.html" class="list-group-item b-r-0 b-l-0">
                            <div class="media">
                                <div class="media-left">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle-thin fa-stack-2x text-warning"></i>
                                        <i class="fa fa-exclamation fa-stack-1x fa-fw text-warning"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h5 class="m-t-0">
                                        <span>You can't bypass the program without backing up the solid state XML alarm!</span>
                                    </h5>
                                    <p class="text-nowrap small m-b-0">
                                        <span>05-Mar-2011, 08:13</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

            <!-- END Scroll Inside Panel -->
            <li class="list-group-item b-a-0 p-x-0 p-y-0 r-a-0 b-b-0">
                <a class="list-group-item text-center b-r-0 b-b-0 b-l-0 b-r-b-r-0 b-r-b-l-0" href="../pages/timeline.html">
                    See All Notifications <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>

    </li>
    </ul>
    <!-- END Notification Dropdown Menu -->

    </li>
